[bumpversion]
current_version = 1.0.1
commit = False
tag = False

[bumpversion:file:site-builder/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:site-builder/site_builder/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:site-builder/site_builder/resources/lighttpd-php8/Dockerfile]
search = ENV RUNTIME_VERSION={current_version}
replace = ENV RUNTIME_VERSION={new_version}

[bumpversion:file:site-builder/site_builder/resources/nginx-hdnd-php8/Dockerfile]
search = ENV RUNTIME_VERSION={current_version}
replace = ENV RUNTIME_VERSION={new_version}

[bumpversion:file:site-builder/site_builder/resources/nginx-njs24/Dockerfile]
search = ENV RUNTIME_VERSION={current_version}
replace = ENV RUNTIME_VERSION={new_version}

[bumpversion:file:site-builder/site_builder/resources/nginx-php8/Dockerfile]
search = ENV RUNTIME_VERSION={current_version}
replace = ENV RUNTIME_VERSION={new_version}

[bumpversion:file:site-builder/site_builder/resources/nginx-py312/Dockerfile]
search = ENV RUNTIME_VERSION={current_version}
replace = ENV RUNTIME_VERSION={new_version}
